<div
  class="min-h-screen flex bg-gradient-to-br from-[#181C1F] to-[#23272A] relative"
>
  <!-- Botón hamburguesa/X (solo móvil) -->
  <button
    class="fixed top-4 left-4 z-50 md:hidden bg-[#181C1F] p-2 rounded-lg shadow-lg"
    (click)="menuOpen = !menuOpen"
    aria-label="Abrir o cerrar menú"
    type="button"
  >
    <ng-container *ngIf="!menuOpen; else closeIcon">
      <!-- Icono hamburguesa -->
      <svg
        class="w-7 h-7 text-white"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </ng-container>
    <ng-template #closeIcon>
      <!-- Icono X -->
      <svg
        class="w-7 h-7 text-white"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </ng-template>
  </button>
  <!-- Menú lateral Izquierdo -->
  <aside
    class="flex flex-col h-screen fixed left-0 w-72 bg-[#181C1F] py-10 z-40 transition-all duration-300"
    [ngClass]="{
      '-translate-x-full': !menuOpen,
      'translate-x-0': menuOpen,
      'md:!translate-x-0': true
    }"
  >
    <!-- Botón cerrar (solo móvil) -->
    <div class="mb-10 mt-8 md:mt-0 px-5">
      <img src="logo.png" alt="Logo" class="object-fit tshadow-lg" />
    </div>
    <div class="flex-1 flex flex-col">
      <nav class="flex flex-col gap-6 w-full px-6 mt-10 md:mt-0">
        <a
          routerLink="/login"
          (click)="menuOpen = !menuOpen"
          routerLinkActive="bg-green-400 text-black"
          class="block py-3 px-4 rounded-xl text-white hover:bg-green-400 hover:text-black transition text-center"
          >Login</a
        >
        <a
          routerLink="/register"
          (click)="menuOpen = !menuOpen"
          routerLinkActive="bg-green-400 text-black"
          class="block py-3 px-4 rounded-xl text-white hover:bg-green-400 hover:text-black transition text-center"
          >Registar Usuario</a
        >
        <a
          routerLink="/payrollAlta"
          routerLinkActive="bg-green-400 text-black"
          class="block py-3 px-4 rounded-xl text-white hover:bg-green-400 hover:text-black transition text-center"
          >Crear Nómina</a
        >
        <a
          routerLink="/payrollLista"
          routerLinkActive="bg-green-400 text-black"
          class="block py-3 px-4 rounded-xl text-white hover:bg-green-400 hover:text-black transition text-center"
          >Nóminas</a
        >
        <a
          routerLink="/userMenu"
          routerLinkActive="bg-green-400 text-black"
          class="block py-3 px-4 rounded-xl text-white hover:bg-green-400 hover:text-black transition text-center"
          >Menu Usuario</a
        >
        <a
          routerLink="/adminMenu"
          routerLinkActive="bg-green-400 text-black"
          class="block py-3 px-4 rounded-xl text-white hover:bg-green-400 hover:text-black transition text-center"
          >Menu Admin</a
        >
        <a
          routerLink="/adminMenuGestion"
          routerLinkActive="bg-green-400 text-black"
          class="block py-3 px-4 rounded-xl text-white hover:bg-green-400 hover:text-black transition text-center"
          >Menu Admin Gestion</a
        >

      </nav>
    </div>
    <div class="text-gray-500 text-xs px-6 text-center py-4">
      © 2025 StaffPro
    </div>
  </aside>

  <!-- Contenido principal -->
  <main
    class="flex-1 flex bg-[#1E2226] items-center justify-center pl-0 md:pl-72 transition-all duration-300"
    [ngClass]="{ 'blur-sm pointer-events-none': menuOpen && !isDesktop }"
  >
    <router-outlet></router-outlet>
  </main>
</div>
